:root {
  /* COLORS */
  /* Primary */

  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* Accent */

  --Blue: hsl(248, 32%, 49%);

  /* Neutral */

  --Dark-Blue: hsl(249, 10%, 26%);
  --Grayish-Blue: hsl(246, 25%, 77%);

  /* FONTS */
  --font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  min-height: 100vh;
  background-image: url(../images/bg-intro-mobile.png);
  background-color: var(--Red);
}

.main__wrapper {
  padding: 5rem 1.9rem;
}

.main__title,
.main__text,
.main__trial-test {
  color: #fff;
  text-align: center;
}

.main__title {
  margin-bottom: 1rem;
  font-size: 1.7rem;
}

.main__text {
  margin-bottom: 2.5rem;
}

.main__text,
.main__trial-test {
  font-size: 0.9rem;
}

.main__trial-test {
  background-color: var(--Blue);
  padding: 1rem 4rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 0px 0px #0003;
  margin-bottom: 1rem;
  line-height: 1.7;
}

.main__form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0px 8px 0px 0px #0003;
}

.form__input-container {
  position: relative;
}

.form__input {
  margin-bottom: 2rem;
  padding: 1rem;
  border: 1px solid #cccc;
  border-radius: 0.5rem;
  transition: border 0.5s ease;
  font-weight: 800;
  width: 100%;
}

.form__input::placeholder {
  font-weight: 800;
}

.form__btn {
  padding: 0.8rem;
  background-color: var(--Green);
  text-transform: uppercase;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-shadow: 0px 3px 0px 0px #ccca;
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.form__btn:hover {
  opacity: 0.7;
}

.form__disclaimer {
  font-size: 0.7rem;
  color: #bbb;
  padding: 0 1.5rem;
  text-align: center;
}

.span__terms {
  color: var(--Red);
  font-weight: 800;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.warning {
  border: 1px solid var(--Red);
}

.warningMsg {
  color: var(--Red);
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.7rem;
  margin-top: -0.5rem;
  font-style: italic;
}

.warningIcon::after {
  content: "";
  position: absolute;
  background: url(../images/icon-error.svg);
  background-repeat: no-repeat;
  height: 60%;
  width: 1.5rem;
  right: 10%;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media (min-width: 1024px) {
  .main__wrapper {
    display: flex;
    padding: 5rem 10rem;
  }

  .main__left-side--desktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 2.5rem;
    flex: 4;
  }

  .main__right-side--desktop {
    flex: 4;
  }

  .main__title,
  .main__text {
    text-align: left;
  }

  .main__title {
    font-size: 3rem;
  }

  .main__text {
    font-size: 1rem;
  }
}
